.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50rem;
    height: 10vh;
    margin-top: 40px;
    border-radius: 10px;
    background-color: white;
    margin-left:-10px;
}
.search_div{
    width: 300px;
    height: 30px;
    border: 1px;
    background-color: #f1f3f4;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 10px;
}
.search_bar{
    width: 250px;
    height: 15px;
    font-size: 15px;
    border: 1px;
    background-color: transparent;
    margin-left: 5px;
    top: -19px;
    position: relative;
    text-align: justify;
    outline: none;
}
.searchbar_dropdown{
    width:50px;
    height:25px ;
    font-size: 15px;
    position: relative;
    margin-top: 20px;
    margin-left: -200px;
    color: rgb(104, 101, 101);
    border: none;
}
.dropdown-option{
    outline: none;
}
.button{
    display: flex;
    flex-direction: row;
    float: right;
    margin-top: 13px;
    margin-right:10px;
    justify-content: space-between;
    
}
.btn-card{
    display: flex;
    flex-direction: row;
    width: 70px;
    height: 35px;
    border:none;
    color: white;
    font-size: 15px;
    border-radius: 100px;
    background-color: black;
    margin-left: -70px;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
   
    
}
.btn-list{
    display: flex;
    flex-direction: row;
    width: 70px;
    height: 35px;
    border:none;
    font-size: 15px;
    justify-content: space-between;
    border-radius: 100px;
    background-color: #b5c2c9;
   

}
.icon{
    width: 50px;
    height: 50px;
}